<div layout="column" >

    <md-content flex="20"  >   
        <md-toolbar flex="none">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <md-button class="md-icon-button" aria-label="Menu" ng-click="main.toggle()">
                    <md-icon>menu</md-icon>
                </md-button> 
                <p>{{ main.title }}</p>
                <div style="width: 40px; height: 40px;"></div>
            </div>
        </md-toolbar>


    </md-content> 

    <md-sidenav class="md-sidenav-left" md-component-id="left">
        <md-toolbar>
            <h1 class="md-toolbar-tools">About / Settings</h1>
        </md-toolbar>
        <md-content>

            <md-input-container>
                <label>Server Address</label>

                <input ng-model="serveraddress">
            </md-input-container>


            <md-button class="md-icon-button md-raised md-primary md-fab" aria-label="Home" ng-click="setDefault()">
                <md-icon>home</md-icon>
            </md-button>
            
            



        </md-content>
        <md-content>
            <section layout="column" layout-sm="column" layout-align="center center" layout-wrap>
            
            <img src="res/indicocr128.png">
                
            <a href="http://indic-ocr.github.io">By Indic OCR Team</a>    
            </section>
        
        
        </md-content>
    </md-sidenav>
    <md-divider></md-divider>

    <md-content flex="10">
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-input-container>
                <label>Source</label>
                <md-select ng-model="sourcelang">

                    <md-option ng-repeat="language in main.languages" ng-value="language" >
                        {{language}}
                    </md-option>
                </md-select>
            </md-input-container>



            <md-input-container>
                <label>Target</label>
                <md-select ng-model="targetlang">

                    <md-option ng-repeat="language in main.languages" ng-value="language" >
                        {{language}}
                    </md-option>
                </md-select>
            </md-input-container>


            
        </section>


    </md-content>
    <md-content flex="10">

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-icon-button md-raised md-primary md-fab" aria-label="Camera" ng-click="main.takePicture(1)">
                <md-icon>camera</md-icon>
            </md-button>
            
            <md-button class="md-icon-button md-raised md-primary md-fab" aria-label="Gallery" ng-click="main.takePicture(2)">
                <md-icon>folder</md-icon>
            </md-button>

            <md-button id="retryButton" class="md-icon-button md-raised md-primary md-fab" aria-label="Camera" ng-click="sendRetry('normal')">
                <md-icon>autorenew</md-icon>
            </md-button>

           
        </section>
    </md-content>

    <md-content>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-progress-circular md-mode="indeterminate" ng-show="fetch" md-diameter="96"></md-progress-circular>

        </section>

    </md-content>
    <md-content ng-show="!fetch" flex="30" style="overflow: scroll">

        <md-card ng-show="showPic">
            <img id="sourceimage" ng-src="{{cropImage}}" class="md-card-image" alt="Clicked Pic">

        </md-card>

    </md-content>   

    <md-content flex="30" style="overflow: scroll">

        <md-list>
            <md-list-item ng-repeat="data in results" ng-click="showTransliteration($index)" class="noright">

                <p class="md-headline">{{ data.recognizedText }}</p>

                <md-divider></md-divider>

            </md-list-item>    

        </md-list>
        <!--   <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
<p class="md-headline"> {{recognizedText}}
</p>

</section>
<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>

<p class="md-headline">{{englishText}}
</p>
</section>
<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
<p class="md-headline">{{transliteratedText}}
</p>
</section>-->
    </md-content>
</div>    

<!--    <md-content class="md-padding" layout-xs="column" layout="row">
<md-card>



</md-card>  

<md-card>

<md-card-title>
<md-card-title-text>
<span class="md-headline">Recognized</span>
</md-card-title-text>
</md-card-title>
<md-card-content>

</md-card-content>
</md-card>

<md-card>

<md-card-title>
<md-card-title-text>
<span class="md-headline">English </span>
</md-card-title-text>
</md-card-title>
<md-card-content>

</md-card-content>
</md-card>

<md-card>

<md-card-title>
<md-card-title-text>
<span class="md-headline">Transliterated</span>
</md-card-title-text>
</md-card-title>
<md-card-content>
<p>{{transliteratedText}}
</p>
</md-card-content>
</md-card>

</md-content>-->

<!--  <md-divider></md-divider>
<div layout="row" layout-align="space-around center" flex="20">
<md-button class="md-icon-button" aria-label="Project" ng-href="https://github.com/mario-aleo/cordova-angular-angularMaterial-seed">
<md-icon style="color: #000000">camera</md-icon>
</md-button>
<md-button class="md-icon-button" aria-label="Creator" ng-href="https://github.com/mario-aleo">
<md-icon style="color: #000000">favorite</md-icon>
</md-button>
</div>
</md-whiteframe>

<md-button class="md-fab md-primary" aria-label="Menu">
<md-icon>menu</md-icon>
</md-button>-->
