<md-toolbar flex>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="main.toggle()">
            <md-icon>menu</md-icon>
        </md-button> 
        <p>{{ main.title }}</p>
        <div style="width: 40px; height: 40px;"></div>
    </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left" md-component-id="left">
    <md-toolbar>
        <h1 class="md-toolbar-tools">Set Server</h1>
    </md-toolbar>
    <md-content>

        <md-input-container>
            <label>Server Address</label>

            <input ng-model="serveraddress">
        </md-input-container>





    </md-content>
</md-sidenav>
<md-divider></md-divider>

<md-content>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-input-container>
            <label>Source</label>
            <md-select ng-model="sourcelang">

                <md-option ng-repeat="language in main.languages" ng-value="language" >
                    {{language}}
                </md-option>
            </md-select>
        </md-input-container>



        <md-input-container>
            <label>Target</label>
            <md-select ng-model="targetlang">

                <md-option ng-repeat="language in main.languages" ng-value="language" >
                    {{language}}
                </md-option>
            </md-select>
        </md-input-container>
        
        
         <md-input-container>
            <label>Engine</label>
            <md-select ng-model="targetengine">

                <md-option ng-repeat="engine in main.engines" ng-value="engine" >
                    {{engine}}
                </md-option>
            </md-select>
        </md-input-container>
    </section>


</md-content>
<md-content>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-icon-button md-raised md-primary md-fab" aria-label="Camera" ng-click="main.takePicture()">
            <md-icon>camera</md-icon>
        </md-button>
        
<md-button id="retryButton" class="md-icon-button md-raised md-primary md-fab" aria-label="Camera" ng-click="sendRetry('normal')">
            <md-icon>autorenew</md-icon>
        </md-button>
        
        <md-button id="invertButton" class="md-icon-button md-raised md-primary md-fab" aria-label="Invert" ng-click="sendRetry('invert')">
            <md-icon>invert_colors</md-icon>
        </md-button>

         <md-button id="binarizeButton" class="md-icon-button md-raised md-primary md-fab" aria-label="Binarize" ng-click="sendRetry('binarize')">
            <md-icon>filter_b_and_w</md-icon>
        </md-button>
    </section>
</md-content>

<md-content>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-progress-circular md-mode="indeterminate" ng-show="fetch" md-diameter="96"></md-progress-circular>

    </section>

</md-content>
<md-content ng-show="!fetch">
   
    <md-card ng-show="showPic">
        <img id="sourceimage" ng-src="{{cropImage}}" class="md-card-image" alt="Clicked Pic">

    </md-card>
    
    <md-card ng-show="showInvert">
        <img id="invertimage" ng-src="{{cropImage}}" class="md-card-image" alt="Clicked Pic">

    </md-card>
    
    
 <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <p> {{recognizedText}}
        </p>

    </section>
         <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>

        <p>{{englishText}}
        </p>
     </section>
 <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <p>{{transliteratedText}}
        </p>
    </section>
</md-content>

<!--    <md-content class="md-padding" layout-xs="column" layout="row">
<md-card>



</md-card>  

<md-card>

<md-card-title>
<md-card-title-text>
<span class="md-headline">Recognized</span>
</md-card-title-text>
</md-card-title>
<md-card-content>

</md-card-content>
</md-card>

<md-card>

<md-card-title>
<md-card-title-text>
<span class="md-headline">English </span>
</md-card-title-text>
</md-card-title>
<md-card-content>

</md-card-content>
</md-card>

<md-card>

<md-card-title>
<md-card-title-text>
<span class="md-headline">Transliterated</span>
</md-card-title-text>
</md-card-title>
<md-card-content>
<p>{{transliteratedText}}
</p>
</md-card-content>
</md-card>

</md-content>-->

<!--  <md-divider></md-divider>
<div layout="row" layout-align="space-around center" flex="20">
<md-button class="md-icon-button" aria-label="Project" ng-href="https://github.com/mario-aleo/cordova-angular-angularMaterial-seed">
<md-icon style="color: #000000">camera</md-icon>
</md-button>
<md-button class="md-icon-button" aria-label="Creator" ng-href="https://github.com/mario-aleo">
<md-icon style="color: #000000">favorite</md-icon>
</md-button>
</div>
</md-whiteframe>

<md-button class="md-fab md-primary" aria-label="Menu">
<md-icon>menu</md-icon>
</md-button>-->
